@page "/Home"
@inject NavigationManager Navigation
<PageTitle>Cuidanet</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="container d-flex flex-column align-items-center justify-content-center ">
    <div class="text-center" style="max-width: 450px; width: 100%;">
        <img class="logohome" src="logo.png" />
      </div>
      </div>
        <br />
        <div align="center">
           
        <br />
            <p class="slogan fst-italic mb-4">"Cuidamos tu bienestar"</p>
        </div>

        <div class="dashboard-container">
            <div class="dashboard-grid">
                <div class="dashboard-card" @onclick='() => NavigateTo("beneficios")'>
                    <div class="card-content">
                        <img class="logodashboard" src="coberturas.png" />
                        <div align="center">
                            <p class="text-muted mb-3" style="font-size: 15px;">Coberturas y consumos</p>
                        </div>
                    </div>
                </div>

                <div class="dashboard-card" @onclick='() => NavigateTo("proveedores")'>
                    <div class="card-content">
                        <img class="logodashboard" src="proveedores.png" />
                        <div align="center">
                            <p class="text-muted mb-3" style="font-size: 15px;">Red de Proveedores</p>
                         </div>
                    </div>
                </div>

                <div class="dashboard-card" @onclick='() => NavigateTo("citas-aps")'>
                    <div class="card-content">
                        <img class="logodashboard" src="proveedores.png" />
                        <div align="center"><p class="text-muted mb-3" style="font-size: 15px;">Agendar cita APS</p></div>
                    </div>
                </div>

                <div class="dashboard-card" @onclick='() => NavigateTo("./Laboratorios")'>
                    <div class="card-content">
                        <img class="logodashboard" src="sintomas.png" />
                        <div align="center">
                            <p class="text-muted mb-3" style="font-size: 15px;">Consultas y Laboratorios</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
           

    </Authorized>

    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>
@code {

    /*[Inject]
    private NavigationManager Navigation { get; set; } = default!;*/

    private void NavigateTo(string page)
    {
        // Reemplaza con tus rutas reales cuando implementes cada vista
        Navigation.NavigateTo($"/{page}");
    }

    public void BeginLogOut()
    {
        //Navigation.NavigateToLogout("/");
        Navigation.NavigateTo("", forceLoad: true);
    }
}
